body,html {
	margin:0;
	padding:0;
	font-size:100%;
	width:100%;
}

h1 {
	margin:0;
	padding:1rem;
	padding-top:2rem;
	width:100%;
	box-sizing:border-box;
	text-align:center;
	font-size:2.5rem;
	font-family:Roboto;
	font-weight:300;
}

.game-wrapper {
	position:relative;
	width:500px;
	padding-bottom:500px;
	margin:auto;
}

.game {
	position:absolute;
	top:1rem;
	bottom:1rem;
	left:1rem;
	right:1rem;
	background:#EEEEEE;
}

.objects {
	position:absolute;
	top:1rem;
	bottom:1rem;
	left:1rem;
	right:1rem;
	overflow:hidden;
}

.object {
	width:25%;
	height:25%;
	position:absolute;
	cursor:pointer;
}

.object span {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size:1.5rem;
	font-family:Roboto;
	font-weight:600;
	color:rgba(255,255,255,0.75);
}

.lose-overlay {
	position:absolute;
	top:1rem;
	bottom:1rem;
	left:1rem;
	right:1rem;
	background:rgba(0,0,0,0.6);
	z-index:1;
	color:#FFFFFF;
	font-size:2rem;
	font-family:Roboto;
	text-align:center;
	display:none;
}

.lose-overlay div {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.win-overlay {
    position:absolute;
    top:1rem;
    bottom:1rem;
    left:1rem;
    right:1rem;
    background:rgba(0,0,0,0.6);
    z-index:1;
    color:#FFFFFF;
    font-size:2rem;
    font-family:Roboto;
    text-align:center;
    display:none;
}

.win-overlay div {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.game-button {
	padding:1rem;
	padding-left:1.5rem;
	padding-right:1.5rem;
	font-size:1.2rem;
	color:#FFFFFF;
	background:transparent;
	border:1px solid #FFFFFF;
	border-radius:0.8rem;
	margin-top:1rem;
}

.game-button:active {
	background:#FFFFFF;
	color:#000000;
}

.continue-button {
    padding:1rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    font-size:1.2rem;
    color:#FFFFFF;
    background:transparent;
    border:1px solid #FFFFFF;
    border-radius:0.8rem;
    margin-top:1rem;
}

.continue-button:active {
    background:#FFFFFF;
    color:#000000;
}

.instructions {
	width:100%;
	max-width:600px;
	padding:1rem;
	margin:auto;
	text-align:center;
	font-size:0.9rem;
	font-family:Roboto;
}

.social-buttons {
	margin:auto;
	width:100%;
	max-width:300px;
	text-align:center;
}

.social-button {
	padding-left:1rem;
	padding-right:1rem;
}

.facebook {
	float:left;
	margin-left:2rem;
}

.twitter {
	float:right;
}

@media (max-width:600px) {
	
	.game-wrapper {
		width:100%;
		padding-bottom:100%;
	}

}
